.line-hr{
    background-color: rgb(153, 150, 150);
    color: white;
    height: 1px;
    width: 90%;
    display: flex;
    position: fixed;
    top:68px;
    bottom: 0;
    right: 50px;
    left: 70px;
}