.navbar-container {
    height: 50px;
    width: 100%;
    color: white;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    cursor: pointer;
    z-index: 999;
}
.anchor-link{
    transition: 0.5s;
    text-decoration: none;
    color: white;
}
.anchor-link:hover{
    color: grey;
    transform: scale(1.1);

}
.navbar-container ul {
    margin-left: 13%;
    display: flex;
    font-size: 22px;
    letter-spacing: 1px;
    padding-top: 20px;
    gap: 40px;
}
.btn-action {
    margin-left: 24%;
    margin-top: 14px;
}
.talk-btn {
    padding: 6px 18px 6px 18px;
    font-size: 20px;
    border: none;
    background: linear-gradient(267deg, #DA7C25 0.40%, #B923E1 100%);
    border-radius: 6px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
}
.talk-btn:hover{
    transform: scale(1.1);
}
.navbar-container ul:hover{
    color: gray;
}

