*{
  margin: 0;
  padding: 0;
  
}

body{
   overflow-x: hidden;
  background-color: black;
  color: wheat;
}
[id]::before {
  content: '';
  display: block;
  height: 2px; /* Equal to the height of your navbar */
  margin-top: -2px;
  visibility: hidden;
}